<?xml version="1.0"?>
<config>
        <ch1.className></ch1.className>
        <ch2.className>ch2.JpegReaderFactory</ch2.className>
        <ch3.className>ch3.PictureProxy</ch3.className>
        <ch4.className></ch4.className>
        <ch5.className></ch5.className>
        <ch6.className></ch6.className>
</config>